<%- include('includes/head') %> 
  <title>Guessing Game</title>
</head>
<body>
  <%- include('includes/nav') %> 
  <section>
    <H1>Game Over!</H1>
    <h2>Click start Game in the nav bar to try again</h2>
  </section>
</body>
</html>