<%- include('includes/head') %> 
  <title>Guessing Game</title>
</head>
<body>
  <%- include('includes/nav') %> 
  <section>
    <H1>Welcome</H1>
    <h2>Please Log-in or sign up to continue</h2>

  </section>
</body>
</html>